<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" action="/cheese/edit">
    <label th:for="name">Name:</label>
    <input type="text" th:name="name" th:id="name" th:value="${cheese.name}" />
    <label th:for="description">Description:</label>
    <input type="text" th:name="description" th:id="description" th:value="${cheese.description}" />
    <input type="submit" value="Edit Cheese" />
    <input type="hidden" th:value="${cheese.cheeseId}" name="cheeseId" />
</form>
</body>
</html>