<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" action="/cheese/edit" th:object="${cheese}">
    <label th:for="name">Name:</label>
    <input type="text" th:field="*{name}" />
    <span th:errors="*{name}" class="error"></span>

    <label th:for="description">Description:</label>
    <input type="text" th:field="*{description}" />
    <span th:errors="*{description}" class="error"></span>

    <div class="form-group">
        <label th:for="type">Type</label>
        <select th:field="*{type}">
            <option th:each="cheeseType : ${cheeseTypes}" th:text="${cheeseType.name}"
                    th:value="${cheeseType}"></option>
        </select>
    </div>

    <div class="form-group">
        <label th:for="rating">Rating</label>
        <select th:field="*{rating}">
            <option th:each="value : ${rating}" th:text="${value}"
                    th:value="${value}"></option>
        </select>
    </div>

    <input type="submit" value="Edit Cheese" />
    <input type="hidden" th:field="*{cheeseId}" />
</form>
</body>
</html>