<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" action="/cheese/edit" th:object="${cheese}">
    <div class="form-group">
        <label th:for="name">Name:</label>
        <input th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="description">Description:</label>
        <input th:field="*{description}" />
    <span th:errors="*{description}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="categoryId">Category</label>
        <select name="category">
            <option th:each="category : ${categories}"
                    th:text="${category.name}"
                    th:value="${category.id}"></option>
        </select>
    </div>

    <div class="form-group">
        <label th:for="rating">Rating(Between 1 and 5):</label>
        <input th:field="*{rating}" value="*{rating}" />
        <span th:errors="*{rating}" class="error"></span>
    </div>

    <input type="hidden" th:field="*{id}" />
    <input type="submit" value="Edit Cheese" />

</form>
</body>
</html>