<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
    <h1 th:text="${title}"></h1>
    <nav th:replace="fragments :: navigation">
    </nav>

    <p th:unless="${cheeses} and ${cheeses.size()}">No cheese :(</p>
    <div th:each="cheese : ${cheeses}">
        <span th:text="${cheese.name + ': ' + cheese.description}"></span>
        <span th:text="${cheese.category.name}"></span>
        <span th:text="'Rating' + ${cheese.rating}"></span>

        <a th:href="@{'/cheese/edit/' + ${cheese.id}}">edit</a>
    </div>

    <p th:unless="${categories} and ${categories.size()}">No Categories Created Yet</p>

    <h3 th:if="${not #lists.isEmpty(categories)}">View Cheeses by category</h3>
    <div class="form-group" th:each="category : ${categories}">
        <a th:href="@{'/cheese/category/' + ${category.id}}" th:text="${category.name}"></a>
    </div>

</body>
</html>