<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
    <h1 th:text="${title}"></h1>
    <nav th:replace="fragments :: navigation">
    </nav>

    <p th:unless="${cheeses} and ${cheeses.size()}">No cheese :(</p>

    <table class="table">
        <h3>Cheeses:</h3>
        <tbody th:each="cheese : ${cheeses}">
        <tr>
            <th th:text="${cheese.name}"></th>
        </tr>
        </tbody>

    </table>

<a href="/cheese/add">Add a Cheese</a> |
<a href="/cheese/remove">Remove a Cheese</a>

</body>
</html>