<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>

<form method="post">

    <p th:unless="${cheeses} and ${cheeses.size()}">No cheese :(</p>

        <div  class="form-check" th:each="cheese : ${cheeses}">
            <input class="form-check-input" type="checkbox" name="ids" th:value="${cheese.id}" th:id="${cheese.id}" />
            <label th:for="${cheese.id}" th:text="${cheese.name}"></label>
        </div>

    <button class="btn btn-default">Remove the selected cheese(s)</button>
</form>
</body>
</html>