<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}"></h1>

<nav th:replace="fragments :: navigation"></nav>


<p th:unless="${menus} and ${menus.size()}">No Menus Yet</p>

<table class="table">

<tbody th:each="menu : ${menus}">
<tr>
    <th scope="row">
        <a th:href="@{'/menu/view/' + ${menu.id}}" th:text="${menu.name}"></a>
    </th>
</tr>

</tbody>
</table>

<a href="/menu/add">Add a Menu</a>

</body>
</html>